@using ShopApp.WebUI.Models
@using PagedList
@using PagedList.Mvc
@using ShopApp.WebUI.Helper
@model PagedList<tblUrunler>

@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@foreach (var p in Model)
{


    <div class="grid_1_of_4 images_1_of_4" style="margin-right: 39px">

        <a href="/home/urunincele/@SeoHelper.ToSeoUrl(p.ad).ToLower()-@p.id"><img src="@p.resimUrl" width="150" height="150" /></a>
        <p><span class="badge badge-dark">Ürün Kodu #@p.id</span></p>
        <p><span class="badge badge-danger">@p.tblKategoriler.ad</span>&nbsp;&nbsp;<span class="badge badge-warning">@p.tblCesitler.ad</span>&nbsp;&nbsp;<span class="badge badge-info">@p.tblMarkalar.ad</span></p>
        <p></p>
        <div style="margin-top: 5px"></div>
        <h1>@Html.Raw(p.ad.Substring(0, Math.Min(p.ad.Length, 50)))... </h1>
        <div class="price-details">
            <div class="price-number">
                <h7><span class="badge badge-primary"> @p.fiyat TL</span></h7>
            </div>
            <div class="add-cart">
                <h4><a href="/home/urunincele/@SeoHelper.ToSeoUrl(p.ad).ToLower()-@p.id">İncele</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
}

