@using ShopApp.WebUI.Models
@using PagedList
@using PagedList.Mvc
@using ShopApp.WebUI.Helper
@model PagedList<tblMarkalar>
@{
    ViewBag.Title = "Markalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h7><a href="/admin/markaekle/" class="badge badge-light">Marka Ekle</a></h7>
<hr />
<p>Tüm markalar listelenmiştir.</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Marka Adı</th>
                <th scope="col">Kategori</th>
                <th scope="col">Çeşit</th>
                <th scope="col">Marka Resmi</th>
                <th scope="col">Düzenle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        @foreach (var p in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">#@p.id</th>
                    <td>@p.ad</td>
                    <td>@p.tblKategoriler.ad</td>
                    <td>@p.tblCesitler.ad</td>
                    <td><img src="@p.resimUrl" width="150" height="75" /></td>
                    <td><a href="/admin/markaduzenle/@p.id" class="btn btn-dark">Düzenle</a></td>
                    <td>@Html.ActionLink("Sil", "MarkaSil", new { id = p.id }, new { @class = "btn btn-light", onclick = "return confirm('Marka Silmek İstediğinize Emin Misiniz?')" })</td>
                </tr>
            </tbody>
        }
    </table>
    <ul class="pagination pagination-sm">
        @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Markalar", new { sayfa }))
    </ul>
</div>


