@model ShopApp.WebUI.Models.tblCesitler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblCesitler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resimUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resimUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblKategoriler.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblKategoriler.ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
